[Unit]
Description=JupyterHub
After=syslog.target network.target

[Service]
#TODO: probably have a dedicated user for this
User={{ conda_user }}
Environment="PATH={{ jupyterhub_local_env_path }}/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="SHELL=/bin/bash"
WorkingDirectory=/var/jupyterhub
ExecStart={{ jupyterhub_local_env_path }}/bin/jupyterhub -f /etc/jupyterhub/jupyterhub_config.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jupyterhub

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
